@import 'color';

.chatPage {
  position: relative;
  padding: 0 8px;

  .chat-status-msg {
    width: 340px;
    position: absolute;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .chatContainerStack {
    position: relative;
    // width: 100%;
    height: calc(100vh - 105px - 164px);
    padding: 8px;
    background-color: $--bs-body-bg;
    border-radius: 12px;
    overflow-y: scroll;
    //iOSでの慣性スクロール
    -webkit-overflow-scrolling: touch;
    transition: .3s;
  }
}

// 会話履歴詳細と共通
.chatStack {
  display: flex;
  align-items: start !important;

  &.user {
    flex-direction: row-reverse;
  }
}

.chat-icon {
  display: block;
  width: 24px;
  height: 24px;
}

.chat-name {
  font-size: 12px;
  line-height: 24px;
  text-align: start;

  &.user {
    text-align: end;
  }
}

.chat-content {
  // width: 315px;
  font-size: 12px;
  line-height: 20px;
  padding-right: 32px;
  word-break: break-all;
  text-align: start;


  &.user {
    padding-right: 0;
    padding-left: 32px;

  }
}

