.headerStack {
    justify-content: space-between;
    align-items: start !important;

    .icon-btn {
        display: block;
        padding: 5px;
        margin: 0 3px;
        background-color: rgba($color: #fff, $alpha: 0);

        &:nth-child(2) {
            padding: 5px 3px;
        }

        &.logo {
            margin: 0px;
        }
        
        .record,.setting{
            width: 24px;
        }
        
        .logo {
            width: 44px;
        }
    }
}