@import 'color';

#root {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    color: $--bs-body-color;
    background-color: $base-color;

    * {
        box-sizing: border-box;
    }

    // 長押し時にポップアップが出てこないように
    button,span, img {
        -webkit-touch-callout: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
}